@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/effect-coverflow";
@import "swiper/css/pagination";
@import "swiper/css/navigation";


:root {
  font-family: var(--font-roboto), sans-serif;
  --base-bg: #EBE6DA;
}

html, body {
  background-color: var(--base-bg);
  color: #000; 
}

html {
  scroll-behavior: smooth;
}
